@keyframes appering
{
	0%{opacity:0;bottom:-150px;}
	100%{opacity: 1; bottom: 0px;}
}
body
{
	font-family: verdana;
	background-image: url(../img/dark_mountain.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
@media (max-width: 500px)
{
	h2
	{
		position: relative;
		color: darksalmon;
		font-size: 42px;
		animation-name: appering;
		animation-duration: 2s;
	}
	span
	{
		position: relative;
		color: white;
		font-size: 22px;
		animation-name: appering;
		animation-duration: 3.75s;
	}
	footer 
	{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		background-color: red;
		color: white;
		text-align: center;
		animation-name: appering;
		animation-duration: 1.80s;
	}
	#pisanie
	{
		position: relative;
		color: white;
		font-size: 18px;
		animation-name: appering;
		animation-duration: 3.75s;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button
	{
  	-webkit-appearance: none;
	}
	input[type = number]
	{
		-moz-appearance: textfield;
		background-color: white;
		border-style: none;
		font-size: 20px;
		height: 20px;
		width: 250px;
	}
	button
	{
		color: pink;
		font-size: 25px;
		background: none;
		border: none;
	}
	button:hover
	{
		color: darkgrey ;
	}
	button:active
	{
		color: red;
	}
}
@media (min-width: 500px) and (max-width: 1024px)
{
	h2
	{
		position: relative;
		color: darksalmon;
		font-size: 45px;
		animation-name: appering;
		animation-duration: 2s;
	}
	span
	{
		position: relative;
		color: white;
		font-size: 25px;
		animation-name: appering;
		animation-duration: 3.75s;
	}
	footer 
	{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		background-color: red;
		color: white;
		text-align: center;
		animation-name: appering;
		animation-duration: 1.80s;
	}
	#pisanie
	{
		position: relative;
		color: white;
		font-size: 20px;
		animation-name: appering;
		animation-duration: 3.75s;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button
	{
  	-webkit-appearance: none;
	}
	input[type = number]
	{
		-moz-appearance: textfield;
		background-color: white;
		border-style: none;
		font-size: 20px;
		height: 20px;
		width: 250px;
	}
	button
	{
		color: pink;
		font-size: 27px;
		background: none;
		border: none;
	}
	button:hover
	{
		color: darkgrey ;
	}
	button:active
	{
		color: red;
	}
}
@media (min-width: 1024px)
{
	h2
	{
		position: relative;
		color: darksalmon;
		font-size: 65px;
		animation-name: appering;
		animation-duration: 2s;
	}
	span
	{
		position: relative;
		color: white;
		font-size: 35px;
		animation-name: appering;
		animation-duration: 3.75s;
	}
	footer 
	{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		background-color: red;
		color: white;
		text-align: center;
		animation-name: appering;
		animation-duration: 1.80s;
	}
	#pisanie
	{
		position: relative;
		color: white;
		font-size: 30px;
		animation-name: appering;
		animation-duration: 3.75s;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button
	{
  	-webkit-appearance: none;
	}
	input[type = number]
	{
		-moz-appearance: textfield;
		background-color: white;
		border-style: none;
		font-size: 22px;
		height: 25px;
		width: 250px;
	}
	button
	{
		color: pink;
		font-size: 37px;
		background: none;
		border: none;
	}
	button:hover
	{
		color: darkgrey ;
	}
	button:active
	{
		color: red;
	}
}